.inline-list {
    .columns:last-child {
        
    }
}

footer {
    //background-color: black;
    padding: 2em 2em 1em 2em;
    margin-top: 1em;
    //color:white;
    .row {
        border-top: 1px solid #51b2f1; 
    }
}