<h1>Logos &amp; Usage</h1>
<hr>
<h3>Full Logo</h3>
<p>Standard full-width logo for large placements - 35px or above</p>
<p>
    <strong>Smaller space?</strong> Use the roundels below
</p>
<table class="stacked">
    <thead>
        <tr>
            <th width="200">Sample</th>
            <th>Name</th>
            <th width="150">PNG Link</th>
            <th width="150">EPS Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-03.png"> </td>
            <td>Blue</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-03.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-03.eps">Link</a></td>
        </tr>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-01.png"></td>
            <td>Black</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-01.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-01.eps">Link</a></td>
        </tr>
        <tr>
            <td style="background-color:grey;"><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-02.png"></td>
            <td>White</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-02.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-02.eps">Link</a></td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Roundel</h3>
<p>Use for anything below 35px; accompany with text </p>
<table class="stacked">
    <thead>
        <tr>
            <th width="200">Sample</th>
            <th>Name</th>
            <th width="150">PNG Link</th>
            <th width="150">EPS Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-17.png" style="height: 36px"></td>
            <td>Blue</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-17.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-17.eps">Link</a></td>
        </tr>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-16.png" style="height: 36px"></td>
            <td>Black</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-16.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-16.eps">Link</a></td>
        </tr>
        <tr>
            <td style="background-color:grey;"><img src="{{root}}/assets/img/logo/BCT001-BD-logo-v5-15.png" style="height: 36px"></td>
            <td>White</td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-15.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT001-BD-logo-v5-15.eps">Link</a></td>
        </tr>
    </tbody>
</table>

<hr>
<h3>BlueCats NOW </h3> 
<p></p>
<table class="stacked">
    <thead>
        <tr>
            <th width="200">Sample</th>
            <th>Name</th>
            <th width="150">PNG Link</th>
            <th width="150">EPS Link</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT075-01-Logo-v1-color.png"></td>
            <td>Color</td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1-color.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1_color.eps">Link</a></td>
        </tr>
        <tr>
            <td><img src="{{root}}/assets/img/logo/BCT075-01-Logo-v1-black.png"></td>
            <td>Black</td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1-black.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1-black.eps">Link</a></td>
        </tr>
        <tr>
            <td style="background-color:grey;"><img src="{{root}}/assets/img/logo/BCT075-01-Logo-v1-white.png"></td>
            <td>White</td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1-white.png">Link</a></td>
            <td><a href="{{root}}/assets/img/logo/BCT075-01-Logo-v1-white.eps">Link</a></td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Usage examples</h3> 
<img src="{{root}}/assets/img/logo/Logo-usage-1.jpg">