<h1>Icons</h1>
<p>There are various icons sets made; those which are still used will be marked 'In Use' below.</p>
<p>Please try to stick to the active ones for any presentations/apps.</p>
<hr>
<h3>Industry Icons <small>round - In Use</small></h3>
<img src="{{root}}/assets/img/icons/BCT001-BD-logo-v6-brand-circle.svg">
<table class="stacked">
    <thead>
        <tr>
            <th>PNG Link</th>
            <th>EPS Link</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td><a href="{{root}}/assets/img/icons/Industries-round-png.zip">Link</a></td>
            <td><a href="{{root}}/assets/img/icons/Industries-round-eps.zip">Link</a></td>
        </tr>
    </tbody>
</table>
<hr>
<h3>Beacon Wireframes <small>- In Use</small></h3>
<img src="{{root}}/assets/img/icons/BCT001-BD-logo-v6-brand-wireframes.svg">
<table class="stacked">
    <thead>
        <tr>
            <th>PNG Link</th>
            <th>EPS Link</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td><a href="{{root}}/assets/img/icons/Wireframes-png.zip">Link</a></td>
            <td><a href="{{root}}/assets/img/icons/Wireframes-eps.zip">Link</a></td>
        </tr>
    </tbody>
</table>

<hr>
