<h2>Typography</h2>
<hr>
<h3>Global Type</h3>
<p>There's no strict guide at the moment, but we tend to stick to the following:</p>
<p>Body copy - Titillium Web, Lato</p>
<p>Headings - Questrial, Montserrat</p>
<h1>H1 - Titillium Web Semibold</h1>
<h2>H2 - Titillium Web Regular</h2>
<h3>H3 - Titillium Web Semibold</h3>
<h4>H4 - Lato Regular</h4>
<a href="https://fonts.google.com/specimen/Lato" target="_blank">Download Lato</a>
<a href="https://fonts.google.com/specimen/Titillium+Web?selection.family=Titillium+Web:200,200i,300,300i,400,400i,600,600i,700,700i,900" target="_blank">Download Titillium Web</a>
<hr> 
<h3>Print Styles</h3>
<p>Mix of Questrial and Titillium Web</p>