<div class="">
    <div class="top-bar" style="width:100%; background-color:white; padding-top:0.6em; padding-bottom:0.2em; margin-bottom: 10px; border-bottom:1px solid #3E8AFC;">
        <div class="top-bar-left">
            <ul class="dropdown menu"  style="background: transparent;" data-dropdown-menu>
                <li class="menu-text">
                    <span style="color:black; font-weight: lighter; font-size:1.6rem">{{meta-title}}</span>
                </li>

            </ul> 
        </div>
    </div>
</div>